ul{
    list-style-type: none;
    margin-left: 70%;
    overflow: hidden;
    background-color: white;
   
}
li{
    float: left;
    text-decoration: none;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
    font-size: 20px;
        }