body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
ul{
    list-style-type: none;
    margin-left: 65%;
    overflow: hidden;
    background-color: white;
   
}
li{
    float: left;
    text-decoration: none;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding-right: 30px;
    text-decoration: none;
    font-size: 20px;
    }
    
h1{
    font-size: 60px;
    font-style: inherit;
    }
.name-color{
    color: coral;
    }
.btn{
    border: none;
    border-radius: 10px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
    }
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    align-items: center;
    }
img{
    max-width: 100%;
    }
h3{
    font-size: 50px;
    }
.LASTET{
    color:  #F46060;
    }
.work{
    padding-left: 5px;
}
.work{
    margin-top: 90%;
    text-align: center;
}
.quater-width{
    width: 25%;
    float: left;;
    margin-left: 5%;
    padding-left: 5px;
    }
.group{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}


h6{
    text-align: center;
    color: gray;
}
h2{
    text-align: center;
    color: rgba(54, 57, 88, 1);
}
.center{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.size{
    width: 25px;
    padding-left: 8%;
}